<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head('404')"></head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(0)"></nav>
    <div class="ui container">
        <div>
            <h1>404</h1>
        </div>
    </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
    <br/>
    <br/>
    <br/>
    <br/>
<!--底部footer-->
<footer th:replace="_fragments :: footer"></footer>

<div th:replace="_fragments :: script"></div>
</body>
</html>